*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore

# Firebase config
app/google-services.json

# Jetpack Compose preview cache
.idea/compose-preview/

# Android Studio Navigation Editor temp files
.navigation/

# Others
*.log
*.apk
*.aar
